

.col-md-7 col-xl-8 {
	padding-bottom: 50px;
}

.col-md-8 mt-4 {
	padding-left: 30px;
}

.card-header {
	color: black !important;
}

.form-text {
	font-size: 0.75rem;       /* Smaller text */
	margin-top: 0.25rem;      /* Space between input and hint */
	display: block;           /* Full width block */
	line-height: 1.2;         /* Tighter line height */
}

#errorMessagePrivateInfo {
	color: red;
}