.signup-form {
	font-family: 'sukoro', sans-serif;
	color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
	/* padding-top: 40px; */
}

.signup-form form {
	width: 100%;
	max-width: 400px;
}

.signup-form button[type="submit"] {
	display: block;
	margin: 10px auto 0 auto;
}

.signup-form .form-text {
	text-shadow: none;
	font-size: smaller;
	font-family: 'arial', sans-serif !important;
	color: antiquewhite !important;
}

.back-home {
	display: block;
	font-family: 'sukoro';
	text-align: center;
	margin-bottom: 30px;
}

.valid {
	color: rgb(5, 145, 14);
}

.invalid {
	color: antiquewhite;
}

.error-msg {
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: red;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	text-shadow: none;
}

#passwordConfirmationError { 
    min-height: 30px;  
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.signup-form .signup-submit-btn.btn.btn-primary {
	padding-top: 5px !important;
}

.shake {
  animation: shake 0.4s;
}

@keyframes h2-blink-outline {
	0%, 100% {
	  text-shadow:
	    -1px -1px 0 black,
    	1px -1px 0 black,
    	-1px  1px 0 black,
     	1px  1px 0 black,
		0 0 5px rgb(253, 246, 28), 0 0 10px rgb(253, 246, 28), 0 0 15px rgb(253, 246, 28); 
	}
	50% {
		text-shadow: 
		-1px -1px 0 black,
   	 	1px -1px 0 black,
    	-1px  1px 0 black,
    	1px  1px 0 black,
		0 0 5px transparent, 0 0 10px transparent, 0 0 15px transparent; 
	}
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}