.user-dropdown-menu {
	position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.user-dropdown-menu .dropdown-menu {
    position: absolute !important;
    right: 0;
    top: 100%; /* place sous le bouton */
    transform: none !important;
    margin-top: 0.5rem;
    z-index: 1050 !important;
    text-align: center;
}

.user-dropdown-menu .dropdown-menu,
.user-dropdown-menu .dropdown-menu * {
    font-family: Arial, Helvetica, sans-serif !important;
}

.user-dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
    text-align: center; 
}

.user-avatar { 
	width: 40px; 
	height: 40px; 
	border-radius: 50%; 
	object-fit: cover;
}
