{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>User Profile</h2>

        <div class="avatar">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="User Avatar" style="width: 150px; height: 150px; border-radius: 50%;">
            {% else %}
                <p>No avatar uploaded</p>
            {% endif %}
        </div>
        <div class="user-details">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Nickname:</strong> {{ user.nickname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <!-- Button to change the password -->
        <div class="change-password">
            <form action="{% url 'password_change' %}" method="get">
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}