<div class="col">
  <h3>Game ID</h3>
  <p id="gameid">lorem ipsum</p>
</div>
<div class="col">
  <h3>Game action</h3>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Action
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Cancel game</a></li>
        <li><a class="dropdown-item" href="#">Invite a friend</a></li>
        <li><a class="dropdown-item" href="#">Share on a group</a></li>
      </ul>
  </div>
</div>
<div class="col">
  <h3>Set rules</h3>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Map
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">Default</a></li>
        <li><a class="dropdown-item" href="#">Octogonal</a></li>
        <li><a class="dropdown-item" href="#">WALLS !</a></li>
      </ul>
  </div>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
        Power up
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <li><a class="dropdown-item" href="#">No</a></li>
        <li><a class="dropdown-item" href="#">Yes</a></li>
      </ul>
  </div>
</div>