{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block content %}
    {% if user.online %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>You are already logged in.</p>
    {% else %}
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            {% if form.errors %}
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    {% endif %}
{% endblock %}
