<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">



<div>
  <div class="container py-4">
    <article class="card player-card mx-auto" style="max-width: 600px;">
      <div class="row g-0">
        
        <section class="col-md-4 p-4 text-center">
          <img src="/assets/img/default.png" class="user-avatar" alt="Profile Picture" />
          <div class="mt-3">
            <span id="statusOtherUser" >Status</span>
          </div>
        </section>
        
        <section class="col-md-8">
          <div class="card-body">
            <h4 id="otherUser" class="card-title">👤 USER</h4>
            
            <div class="row text-start text-white">
              <div class="col-12 mb-2">
                <span id="otherFirstName">XXX</span>
              </div>
              <div class="col-12 mb-2">
                <span id="otherLastName">XXX</span>
              </div>
              <div class="col-12 mb-2">
                <span id="otherMail">XXX</span>
              </div>
            </div>
            <div class="border-top pt-3">
              <div class="row text-center">
                <div class="col">
                    <h6>🎮 Games</h6>
                    <strong>XXX</strong>
                  </div>
                  <div class="col border-start">
                    <h6>🏆 Wins</h6>
                    <strong>XXX</strong>
                  </div>
                  <div class="col border-start">
                    <h6>😵 Losses</h6>
                    <strong>XXX</strong>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <footer class="card-footer text-center py-3">
          <div class="d-flex justify-content-center align-items-center gap-3">
            <button class="footer-btn" type="button">
              <i class="fas fa-user-plus"></i> Add Friend
            </button>
            <div class="vr-footer"></div>
            <button class="footer-btn" type="button">
              <i class="fas fa-envelope"></i> Message
            </button>
          </div>
        </footer>      
      </article>
    </div>
  </div>
    