<div class="container mt-5 mb-5 p-5">
	<h2 class="mb-4 text-center">Historique des matchs</h2>
  
	<div class="mb-4 d-flex justify-content-center">
		<div class="p-3 bg-light rounded shadow text-center fw-bold border" style="min-width: 150px;">
		  <span id="matchTotal" class="text-dark">X</span> |
		  <span id="matchWin" class="text-success">X</span> |
		  <span id="matchLost" class="text-danger">X</span>
		</div>
	</div>
	  

	<div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
		<table class="table table-bordered table-hover text-center">
		  <thead class="table-dark">
			<tr>
			  <th>Date</th>
			  <th>Adversaire</th>
			  <th>Score</th>
			  <th>Results</th>
			</tr>
		  </thead>
		  <tbody id="match-history-body">
			
		  </tbody>
		</table>
	  </div>
	
</div>
