<div id="forgot-password-form" class="login-form d-block">
	<button id="close-forgot-password-form" type="button" class="btn-close" aria-label="Close"></button>
	<form class="needs-validation" id="mail-for-new-password">
	  <div class="mb-3">
		<label for="mail" class="form-label">Please enter your mail address:</label>
		<input type="email" class="form-control" id="mail" name="mail" placeholder="mail address" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<div class="error-msg"><span id="mail-error-msg"></span></div>
</div>

<div id="forgot-password-success" class="login-form d-none">
	<button id="close-forgot-password-success" type="button" class="btn-close" aria-label="Close"></button>
	An email with a temporary password has been sent to:<br>
	<span class="forgot-password-mail"></span>.<br><br>
	You can now connect with it 
	and then proceed to change it in your settings.<br><br>
	<button id="login-forgot-password">Login here</button>
</div>