<div id="login-form" class="login-form active">
	<form class="needs-validation" id="log-form">
	  <div class="mb-3">
		<label for="mail" class="form-label">MAIL ADDRESS</label>
		<input type="email" class="form-control" id="mail" name="mail" placeholder="mail address" required>
	  </div>
	  <div id="login-password" class="mb-3">
		<label for="password" class="form-label">PASSWORD</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
	  </div>
	  <div class="error-msg"></div>
	  <button type="submit" class="btn btn-primary">login</button>
	  <span class="loading-msg" id="loading-message" style="display:none">connecting...</span>
	</form>
  </div>