<div id="login-form" class="login-form active">
	<button id="close-login-form" type="button" class="btn-close" aria-label="Close"></button>
	<form class="needs-validation" novalidate>
	  <div class="mb-3">
		<label for="mail" class="form-label">Mail</label>
		<input type="email" class="form-control" id="mail" name="mail" placeholder="mail" required>
	  </div>
	  <div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
	  </div>
	  <div class="mb-3">
		<label for="password_confirmation" class="form-label">Password Confirmation</label>
		<input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="password confirmation" required>
		<a href="#signup" class="form-text text-muted" style="display: block; margin-top: 3px;">Not subscribed yet? Create an account</a>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
  </div>