<div class="containerCanvas">
  <div class="footerCanvas">
      <div  class="section">
        <div class="section" id="player1Username"></div>
        <div class="section" id="player1score"></div>
      </div>
      <div>
        <h2 id="titleGameSinglePlay" class="titleGame">Game</h2>
        <div id="idUpendDown" class="section">
          <div>⬆️ = up</div>
          <div>⬇️ = down</div>
          <div>🅠 = give up</div>
        </div>
      </div>
      <div class="section">
        <div class="section" id="player2Username"></div>
        <div class="section" id="player2score"></div>
      </div>
  </div>
    <div class="canvasContainer">
      <div class="stade">
        <div id="wallUp" class="decorative-box"></div>
        <div id="verticalStadeUp" class="verticalStadeUp"></div>
        <div id="roundStade" class="roundStadePong"></div>
        <!--<div class="roundStadePongCenter"></div>-->
        <div id="verticalStadeDown" class="verticalStadeDown"></div>
        <canvas id="gameCanvas" width="1100" height="650"></canvas>
        <div id="wallDown" class="decorative-box"></div>
    </div>
    </div>
    <div id="idfooterCanvas" class="footerCanvas">
      <div class="section">
        <button id="create-game" type="button" class="btn btn-primary">Create game</button>
      </div>
      <div class="section">
        <button id="join-game" type="button" class="btn btn-primary">Join Game</button>
      </div>
    </div>
</div>
  