<div class="containerCanvas">
    <div class="canvasContainer">
      <h2 class="titleGame">Game</h2>
      <canvas id="gameCanvas" width="1100" height="650"></canvas>
    </div>
    <div id="idfooterCanvas" class="footerCanvas">
      <div class="section">
        <button id="create-game" type="button" class="btn btn-outline-primary">Create game</button>
      </div>
      <div class="section">
        <button id="join-game" type="button" class="btn btn-outline-secondary">Join Game</button>
      </div>
    </div>
</div>
  