<div class="containerCanvas">
    <div class="canvasContainer">

        <div class="footerCanvas">
            <div id="idEEndD" class="section">
                <div>🅔 = up</div>
                <div>🅓 = down</div>
            </div>

            <h2 id="titleGameSinglePlay" class="titleGame">Game</h2>

            <div id="idUpendDown" class="section">
                <div>⬆️ = up</div>
                <div>⬇️ = down</div>
            </div>
        </div>
        <div class="stade">
            <div id="wallUp" class="decorative-box"></div>
            <div id="verticalStadeUp" class="verticalStadeUp"></div>
            <div id="roundStade" class="roundStadePong"></div>
            <!--<div class="roundStadePongCenter"></div>-->
            <div id="verticalStadeDown" class="verticalStadeDown"></div>
            <canvas id="gameCanvas" width="1100" height="650"></canvas>
            <div id="wallDown" class="decorative-box"></div>
        </div>
    </div>
    <div class="footerCanvas" id="idfooterCanvas">
        <div class="section">
            <button id="AI-game" type="button" class="btn btn-primary" aria-label="Close">A.I game</button>
        </div>
        <div class="section">
            <button id="versus-game" type="button" class="btn btn-primary" aria-label="Close">Versus game</button>
        </div>
    </div>
</div>