<div id="contentTournementPage">

    <div id="divlistTournament" class="container mt-5 mb-5 p-5" style="position: relative;">
        <h2 class="mb-4 text-center">TOURNAMENT LIST</h2>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>TOURNAMENT</th>
                    </tr>
                </thead>
                <tbody id="trnmt-list-ul"></tbody>
            </table>
        </div>
        <div class="section">
            <button id="create-trnmt" type="button" class="btn btn-outline-secondary" aria-label="Close">Create</button>
        </div>

        <div id="listPlayerGameTournament" class="PlayerGameTournament container">
            <h4 id="idtournament" class="mb-4 mt-4 text-center">TOURNAMENT</h4>
            <h4 id="idNBtournament" class="mb-4 mt-4 text-center">0</h4>
            
            <div id="idplayerInTournament" class="footerCanvas">

            </div>
          </div>
    </div>

    <div id="Tournament-info" class="footerCanvas">

        <div class="section">
            <div id="Tournament-leave"></div>
            <div id="Tournament-launch"></div>
            <div id="Tournament-game"></div>
        </div>
        <div id="guest-add" class="section">

        </div>
    </div>
</div>