<div class="container">
    <div class="row">
        <div class="col">
            <h2>TOURNAMENT LIST</h2>
        </div>
    </div>
    <div class="row" id="replace-state">
        <div class="col">
            <h2>Create game</h2>
            <div id="invit"><a href="#login">Create game</a></div>  
        </div>
        <div class="col">
            <h2>Informations</h2>
            <p id="Game instructions">Waiting for a game</p>
        </div>
        <div class="col">
            <h2>Join game</h2>
            <button id="join-game" type="button" class="btn btn-outline-secondary" aria-label="Close">Join Game</button>
        </div>
    </div>
    <div class="row" id="replace-state2">
    </div>
</div>
