<div class="user-dropdown-menu">
	<div class="dropdown">
		<button id ="avatarDropdownBtn" class="btn btn-secondary btn-lg">
			<img id="user-avatar" class="user-avatar" src="" alt="avatar">
		</button>
		<div id="customDropdownMenu" class="dropdown-menu custom-dropdown-menu">
			<div class="item"><a class="dropdown-item" href="#dashboard">Dashboard</a></div>
			<span><hr class="dropdown-divider"></span>
			<div class="item"><a class="dropdown-item" href="#settings_profile">Settings</a></div>
			<span><hr class="dropdown-divider"></span>
			<div class="item"><a class="dropdown-item" href="#disconnect">Disconnect</a></div>
		</div>
	</div>
</div>