<div class="col">
    <form id="myForm">
        <div class="mb-3">
            <label for="myTextInput" class="form-label"></label>
            <input type="text" class="form-control" id="player1" placeholder="Coming soon">
        </div>
    </form>
</div>
<div class="col">
    <button type="button" class="btn btn-primary" id="getTextBtn">GO</button>
</div>
<div class="col">
    <form id="myForm2">
        <div class="mb-3">
            <label for="myTextInput" class="form-label"></label>
            <input type="text" class="form-control" id="player2" placeholder="Coming soon">
        </div>
    </form>
</div>